@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0f172a;
  --font-color: #0f172a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
